@font-face{
  font-family: 'VCR';
  src:url("../fonts/VCR.ttf");
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-60px);
  }
  81%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

body,h2,ul,li{
  margin:0;
  padding: 0;
  font-family: 'VCR';
}

a.btn{
  background: black;
  text-decoration: none;
  color: white;
  padding:20px 100px;
  font-size:16px;
  text-transform: uppercase;
}
section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
section>h2{
  color:white;
  background:black;
  width:100%;
  text-align: center;
  text-transform: uppercase;
  padding:10px 0
}
section>.content{
  padding:10px 0;
  width:60%;
  height:600px;
}

header{
  background: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
}
header>img{
  width:300px;
}
header>nav>ul{
  list-style: none;
  display: flex;
}
header>nav>ul>li{
  padding:0 20px;
}
header>nav>ul>li:last-child{
  padding-right: 0;
}
header>nav>ul>li>a{
  text-decoration:none;
  color:white;
  text-transform: uppercase;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  padding:100px 0;
}

main>img{
  margin-bottom:40px;
  width:25%;
  height:25%;
  animation: jump 1.5s ease 0s infinite normal ;
}

#synopsis>.content{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#synopsis>.content>img{
  width:300px;
  height:300px;
  margin-right: 100px;
}
#synopsis #ball{
  width:50px;
  height:50px;
}

#commandes>.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#commandes>.content>img{
  margin-bottom: 30px;
}

#credits>.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#credits ul{
  list-style: none;
}

footer{
  background:black;
  display:flex;
  justify-content: center;
}
footer ul{
  display:flex;
  justify-content: space-between;
  width:60%;
  padding:20px 0;
}
footer a{
  text-decoration: none;
  text-transform: uppercase;
  color:white;
}

#canvascontainer{
  display: flex;
  justify-content: center;
}
